.popup__form-submit {
  width: calc(100% - (22px * 2));
  max-width: 358px;
  
  color: #fff;
  font-size: clamp(14px, 3vw, 18px);
  font-weight: 400;
  line-height: clamp(17px, 4vw, 22px);
  
  cursor: pointer;
  
  background-color: #000;
  
  display: block;
  
  margin: 28px auto 0 auto;
  padding: 13px 0 13px 0;
  border: 1px solid #000;
  border-radius: 2px;
  
  transition: all .4s ease-out;
}

.popup__form-submit:hover {
  opacity: .8;
  
  transition: all .2s ease-in;
}

@media (min-width: 520px) {
  .popup__form-submit {
    margin-top: 15px;
  }
}