.tooltip {
  width: 100%;
  height: 100vh;
  
  display: flex;
  visibility: hidden;
  position: fixed;
  flex-direction: column;
  
  justify-content: center;
  
  align-items: center;
  
  top: 0;
  left: 0;
  
  opacity: 0;
  
  transition: all .3s ease-in;
}

.tooltip::before {
  content: '';
  
  width: 100vw;
  height: 100vh;
  
  background-color: #000;
  
  position: fixed;
  
  top: 0;
  left: 0;
  
  opacity: .5;
  
  z-index: -1;
}

.tooltip:focus {
  outline: none;
}