.popup__form-input {
  width: calc(100% - (22px * 2));
  max-width: 358px;
  
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  
  display: block;
  
  margin: 0 auto 5px;
  padding: 0 0 9px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__form-input:focus {
  outline: none;
}

.popup__form-input::placeholder {
  color: #c4c4c4;
}