.popup {
  width: 100%;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  visibility: hidden;
  
  position: fixed;
  
  top: 0;
  left: 0;
  
  opacity: 0;
  
  transition: all .3s ease-in;
}

.popup::before {
  content: '';
  
  width: 100vw;
  height: 100vh;
  
  background-color: #000;
  
  position: fixed;
  
  top: 0;
  left: 0;
  
  z-index: -1;
}

.popup:focus {
  outline: none;
}
